/* notification styles */

.error-notification {
    padding: 5px;
    color: hsl(0, 100%, 25%);
    border: 2px solid hsl(0, 100%, 25%);
    background-color: silver;
}

.success-notification {
    padding: 5px;
    color: hsl(133, 100%, 25%);
    border: 2px solid hsla(133, 100%, 25%);
    background-color: silver;
}
